:root {
            --sidebar-width: min-content;
            --bg-color: #f4f4f9;
            --sidebar-bg: #282828;
            --accent: #007bff;
            --text-light: #fff;
        }
body {
 display: flex;
 margin: 0;
 font-family: Arial, sans-serif;
 background-color: var(--bg-color);
 min-height: 100vh;
}

#sidebar {
 width: var(--sidebar-width);
 background-color: var(--sidebar-bg);
 color: var(--text-light);
 flex-shrink: 0;
 display: flex;
 flex-direction: column;
 box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

#sidebar .brand {
 font-size: 1.2rem;
 text-align: center;
 padding: 2px 0;
 font-weight: bold;
 border-bottom: 3px solid #7677a8;
 margin-bottom: 1px;
 color: white;
 text-decoration: none;
}

#sidebar a.nav-link {
 display: block;
 color: #ccc;
 padding: 1px 2px;
 text-decoration: none;
 font-size: 1rem;
 border-left: 5px solid transparent;
 border-bottom: 1px solid #7677a8;
 transition: all 0.3s;
}

#sidebar a.nav-link:hover,
#sidebar a.nav-link.active {
 background-color: #000000;
 color: #fff;
 border-left: 5px solid var(--accent);
}